# انسخ الملف ده لملف .env.local محلي ولا ترفعه على Git ابدا
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_PUBLISHABLE_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SECRET_KEY
HUGGINGFACE_API_KEY=your_huggingface_api_key_here
NEXT_PUBLIC_SITE_URL=http://localhost:9002
