NEXT_PUBLIC_SUPABASE_URL=https://diabqtldzxtzrznemjzu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpYWJxdGxkenh0enJ6bmVtanp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5ODI4OTUsImV4cCI6MjA5MzU1ODg5NX0.8IKX8f8ft4o2h-rUTdbL46fYzrPJ2FZcUynmJ45jEW0
SUPABASE_SERVICE_ROLE_KEY=
HUGGINGFACE_API_KEY=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



POSTGRES_URL
POSTGRES_PRISMA_URL
POSTGRES_URL_NON_POOLING
POSTGRES_USER
POSTGRES_HOST
POSTGRES_PASSWORD
POSTGRES_DATABASE
SUPABASE_SERVICE_ROLE_KEY
SUPABASE_ANON_KEY
SUPABASE_URL
SUPABASE_JWT_SECRET
NEXT_PUBLIC_SUPABASE_ANON_KEY
NEXT_PUBLIC_SUPABASE_URL

