NEXT_PUBLIC_SUPABASE_URL=https://fkvvhenvqtcbkuwqgocm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_vFDyS1OiX2Gb31dLygtszw_KFhkZ7JO
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Ugw6ajvnfr4n_HXeOHAG8g_spfAK0ED
HUGGINGFACE_API_KEY=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

